@import url(/assets/css/root.css);
@import url(/assets/css/media.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-width: 100vh;
}

.container {
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 12px;
}

.d-flex {
    display: flex;
}

.my-10 {
    margin: 10px 0;
}

.j-c-center {
    justify-content: center;
}

/* header */
.events {
    color: var(--d-blue);
    font-family: 'Poppins', sans-serif;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.free {
    color: var(--skyblue);
}

.navtext {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button1 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 11px 28px;
    gap: 10px;
    border-radius: 23px;
    background: var(--bg-d-blue);
    border: none;
    cursor: pointer;
}

header {
    background: var(--white);
    box-shadow: 0px 8px 35px 0px var(--black1);
    height: 100px;
    min-width: 100vh;
}

.globe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pt-17 {
    padding-top: 17px;
}

/* section1 */

.mt-67 {
    margin-top: 67px;
}

.s1img {
    width: 401px;
    height: 408px;
    border-radius: 30px;
}

.s1img:hover {
    transform: scale(1.1);
    transition: all 500ms linear;
}

.home {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.name {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--xxl);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;/
}

.button2 {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 11px 28px;
    gap: 10px;
    border-radius: 23px;
    background: var(--bg-c1);
    border: none;
    cursor: pointer;
}

.button2:hover {
    background: var(--bg-d-blue);
    color: var(--white);
}

.button3 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 11px 28px;
    gap: 10px;
    border-radius: 23px;
    background: var(--bg-d-blue);
    border: none;
    cursor: pointer;
}

.button3:hover {
    background: var(--bg-c1);
    color: var(--black);
}



.mt-12 {
    margin-top: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-38 {
    margin-bottom: 38px;
}



.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ml-8 {
    margin-left: 8px;
}

.s1text {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    cursor: pointer;
}

.s1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* section2 */
.mt-134 {
    margin-top: 134px;
}

.s2text {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    opacity: 0.6;
}

.s2bg {
    background-image: url(/assets/images/s2img.png);
    width: 619px;
    height: 415px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2button {
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2button:hover {
    transform: scale(1.1);
    transition: all 500ms linear;
}

.ml-7 {
    margin-left: 7px;
}



.play {
    display: flex;
    justify-content: center;
}

/* section3 */
.marker {
    width: 115px;
    height: 8px;
    background: linear-gradient(to right, var(--bg-d-blue) 88%, var(--bg-skyblue) 12%);
}

.gallery {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--xxl);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 37px;
}

.s3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 103px;
}

.d-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 24px;
}



.grid-item {
    border-radius: 30px;
}

.grid-item>img {
    height: 100%;
    transition: all 500ms linear;
}

.grid-item:hover>img {
    transform: scale(1.5);
}

/* section4 */
.mt-67 {
    margin-top: 67px;
}

.s4text {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.s4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comment {
    min-width: 99.9%;
    min-height: 70px;
    border-radius: 35px;
    border: 1px solid var(--grey);
    background: var(--bg-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 47px auto;
}


.s4button {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--l);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    height: 56px;
    padding: 11px 28px;
    border-radius: 36px;
    background: var(--d-blue);
    border: none;
    cursor: pointer;
}

.new-comment {
    padding: 11px 21px;
    border: none;
    font-size: var(--l);
}

.s4img {
    display: flex;
    padding: 8px 0 7px 9px;
}

.p7 {
    padding: 7px 7px 7px 0;
}

.w-100 {
    width: 100%;
}

.imgcon {
    display: flex;
    flex-direction: row;
}

.text-align-l {
    text-align: left;
}

.comment2 {
    display: flex;
    padding: 14px 20px 20px 20px;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 20px 20px 20px;
    background: var(--bg-c2);
    text-align: left;
}

.username {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.utext {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.remove {
    display: flex;
    gap: 5px;
    padding-left: 20px;
    padding-top: 8px;
}

.dimg {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 118px;
}

.remove>img {
    cursor: pointer;
}

/* footer */


.bg-black {
    background-color: var(--bg-black);
    min-height: 435px;
    min-width: 100vh;
}

.ftext1 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 346px;
    margin: 36px 0 24px 0;
}

.facebook {
    margin: 0 15px;
}

.fhead {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--s);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ftext2 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--vs);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mt-11 {
    margin-top: 11px;
}

.my-12 {
    margin: 12px 0;
}

.f-box {
    width: 29.4%
}

.bg-blue {
    background-color: var(--bg-blue1);
    width: 90px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show {
    color: var(--white);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--vs);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 43px;
}

.fd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 13px 18px;
}

.copy {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.hover {
    transition: all 500ms linear;
}

.hover:hover {
    transform: scale(1.1);
}